html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    display: flex;
    flex-direction: column;
    font-family: Roboto, sans-serif;
    margin: 0;
    padding: 0;
}

.header {
    font-size: 45px;
    padding: 16px;
    text-align: center;
}

.content {
    flex: 1;
    display: flex;
    justify-content: center;
}

.container {
    width: 450px;
    height: 450px;
    display: flex;
    flex-direction: column;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    font: 20px;
    padding: 16px;
    height: 100px;
}

.row {
    display: flex;
    flex: 1;
}

.cell {
    border: 1px solid black;
    flex: 1;
}